body{
  background-color: rgb(249, 247, 248) !important;
}

a.white-link {
  color: #fff !important;
}

.hidden {
  display: none;
}

.inline {
  display: inline !important;
}

.inline-block {
  display: inline-block;
}

.logo-img {
  max-height: 24px;
}