.text-center {
  text-align: center;
}

.text-capitalize {
  text-transform: capitalize;
}

.cursor_pointer {
  cursor: pointer !important;
}

.cursor_move {
  cursor: move;
}

.fill-width {
  width: 100%;
}

.v-btn {
  text-transform: none !important;
}

.text-decoration-none {
  text-decoration: none !important;
}
