body {
  margin: 0;
}
.container {
  padding: 40px;
  background: #419be0;
}

.slick-slide img {
  margin: auto;
}

.carousel-item img{
  width: 100%;
  height: 100%;

}
.unclickable{
  height: 100vh;
  width: 100vw;
  position: fixed;
  top: 0;
  left: 0;
z-index: 123456789;
}
/* 
.card-deck:after , .device-deck:after{
  content: "";
  display: table;
  clear: both;
}
.card-deck .card ,.device-deck .card{
  float: left;
  width: 32%;
  padding: 0 10px;
} */
.plan-body-container{
  padding: 10px;
}
.home-body{
  padding: 16px;
}
#planbutton{
  background-color: #fc5f16; 
  border: none;
  color: white;
  padding: 10px 22px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 13px;
  border-radius: 4px;
}


/* .device-deck .card img{
  width: 100%;
  min-width: 250px;
  max-height: 300px;
  height: 250px;
}
.card-deck .card img{
  width: 100% !important;
} */
.magic-dots.slick-dots li.slick-active button:before{
  color: #fc5f16;
}

.card-header{
  background-color: #fc5f16;

}
.card-footer{
  margin-top: auto;
}
@media screen and (max-width: 600px) {
  /* .card-deck .card {
    width: 100%;
    display: block;
    margin-bottom: 20px;
  }*/
} 

/* Style the counter cards */
/* .card-deck .card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  padding: 16px;
  text-align: center;

} */

.imagePreviewContainer{
  display: flex;
  flex-direction: column;
  margin: 10px;
  padding: 10px;
 border: 1px solid #cdcdcd;
 align-items: center;
 overflow: hidden;
}

.imagePreviewContainer img{
  height: 250px;
  width:250px;
}

.imagePreview{
  display: flex;
    justify-content: space-between;
}

.arrow {
  border: solid #fff;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 3px;
  
  transform: rotate(135deg);
  -webkit-transform: rotate(135deg);
   transition: all .2s ease-in-out; 
   
   }

.oo
{ transition: all .2s ease-in-out;
color:#fff;
margin-top: 1rem;
}
.oo:hover { transform: scale(1.1); }