<p>{{_("Dear")}} {{ first_name }}{% if last_name %} {{ last_name}}{% endif %},</p>
<p>{{_("This is to confirm that you have registered our event")}}.</p>
{% if userid == "" %}
	<p>{{_("Your login id is")}}: <b>{{ user }}</b></p>
{% else %}
	<p>{{_("Your login id is")}}: <b>{{ userid }}</b></p>
{% endif %}

{% if password == "" %}
	<p>{{_("Click on the link below to complete your registration and set a new password")}}.</p>
	<p style="margin: 30px 0px;">
		<a href="{{ link }}" rel="nofollow" style="padding: 8px 20px; background-color: #ff6961; color: #fff; border-radius: 4px; text-decoration: none; line-height: 1; border-bottom: 3px solid rgba(0, 0, 0, 0.2); font-size: 14px; font-weight: 200;">{{ _("Complete Registration") }}</a>
	</p>
{% else %}
	<p>{{_("Your temporary password is ")}}: <b>{{password}}</b>
	<p>{{_("You may set a new password at the Mobile App's User profile or at ")}}</p>
	<a href="http://www.prulia.org.my">www.prulia.org.my</a>.
{% endif %}

{% if user_fullname != "Administrator" %}
<br>
PRULIA Admin</p>
{% endif %}
<br>
<!-- <p style="font-size: 85%;">{{_("You can also copy-paste this link in your browser")}} <a href="{{ link }}">{{ link }}</a></p> -->
